body {
	font-family: sans-serif;
}

div.app-container{ text-align: center;}

div#app{ width: 100% }

div#chats {margin: 20px 0;}

div.chats-loading{ margin: 10px 0;}

ul#chat-list { 
	padding-left: 0; 
	margin: 20px 0; 
	overflow-y: scroll; 
	height: 300px
}

ul#chat-list li{ list-style: none; min-height: 90px; border-bottom: 1px solid #ccc; text-align: left; padding: 20px 0 20px 10px; display: table; width: 100%; }
ul#chat-list li img { border-radius: 100%; float: left; margin-right: 20px;}
ul#chat-list li div.message{ color: #000; float: left; width: 65%;}
ul#chat-list li div.message a{ font-size: 1.2em; font-weight: 400; color: #000; }

ul#chat-list li div.message p.last_message{ 
	font-size: 0.8em;
	width: 90%;
	margin: 5px 0;
	color: #ccc;
}

ol#chat-messages { 
	overflow-y: scroll;
	height: 300px;
	list-style: none;
	background: #e5e5e5;
	margin: 20px 0;
	padding: 0 0 50px 0;
}

ol#chat-messages li { 
	padding: 0.5rem;
	overflow: hidden;
	display: flex;
	height: auto;
}

ol#chat-messages li.other .avatar:after { 
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 5px solid white;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

ol#chat-messages li.self .avatar:after { 
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 5px solid white;
	border-right-color: transparent;
	border-top-color: transparent;
}

ol#chat-messages li.self { 
	justify-content: flex-end;
	align-items: flex-end;
}

ol#chat-messages li.self div.avatar { 
	order: 2;
}

ol#chat-messages li div.avatar { 
	width: 40px;
	position: relative;
}

ol#chat-messages li div.avatar img { 
	width: 100%; 
	display: block; 
}

ol#chat-messages li div.message { 
	background: white;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(black, 0.2);
 }

ol#chat-messages li div.message p { 
	font-size: 14px;
    margin: 0 0 0.2rem 0;
}

ol#chat-messages li div.message time { 
	font-size: 10px;
    color: #ccc;
}