div.app-container{ text-align: center;}

div#chats {margin: 20px 0;}

div.chats-loading{ margin: 10px 0;}

ul#chat-list{ padding-left: 0; margin: 20px 0; overflow-y: scroll; height: 200px}
ul#chat-list li{ list-style: none; height: 50px; border: solid 1px; text-align: left; padding: 13px 0 0 10px;}
ul#chat-list li a{ color: #000;}

ul#chat-messages{ padding-left: 0; margin: 20px 0; overflow-y: scroll; height: 200px}
ul#chat-messages li{ list-style: none; height: 50px; border: solid 1px; text-align: left; padding: 13px 0 0 10px;}
ul#chat-messages li a{ color: #000;}